/*fonts*/
body{
	font-family: helvetica;
	cursor:crosshair;
}

a{cursor:help;}


.container{
	width:100vw;
	height:100vh;
	display:flex;
	flex-wrap:nowrap;
}

.left_1{ 
	position: relative;
	overflow: hidden;
}
.left_1 video {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	object-fit: cover;
}
.right_1{background-image: url(burn-3.svg);	}

.left_2{background-image: url(plastic-3.svg);}
.right_2{background-image: url(b-10.svg);}

.left_3{background-image: url(marloes-7.jpg);}
.right_3{background-image: url(hanne-2.svg);}

.col{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;	
}

.w-20{display:none;}

.w-40{
	width:50vw;
	height:100vh;
}


/*Nav*/
.nav-container{
	height:100vh;
	width:100vw;
	position: fixed;
	display:flex;
	justify-content: center;
	align-items: center;
}

.nav{
	background-color: white;
	width:20vw;
	padding-top:10px;
	padding: 10px;
	position: fixed;
	top:0px;
	overflow: scroll;
	height:100%;
	overflow-x: hidden;
}



.title{
	padding-top:15px;
	top:0px;
	font-size:5.5vw;
	text-align: center;
	line-height: 4vw;
	position: fixed;
	background-image: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,1),
		rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),
		rgba(255,255,255,0.9),rgba(255,255,255,0.8),rgba(255,255,255,0.5), 
		rgba(255,255,255,0));
	padding-bottom: 40px;
}

.no{
	font-size:4vw;
}

.footnote{
	font-style: italic;
	font-size:0.8vw;
}


.k-toggle{display:none;}

.toggle{
	font-size:1.2vw;
	cursor:help;
}

.pt-20{padding-top: 20vh;}

.f-toggle{
	display:none;
}

p{
	font-size:1.1vw;
	line-height:1.2vw;
}

a{
	color:black;
	text-transform: uppercase;
	text-align: justify;
    text-justify: inter-word;
    text-decoration: none;
}

a:hover{
	color:lightgrey;
	transition: 0.2s;
}


.indent{margin-left:2.5vw ;}

.content p{
	text-transform: uppercase;
	text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: justify;
 	margin-bottom: 40px;  

}

.mt-30{margin-top: 30px;}
















@media (max-width:800px){
.container{
	width:100vw;
	height:100vh;
	display:flex;
	flex-wrap:nowrap;
}

.w-20{
	display:none;
}

.w-40{
	width:50vw;
	height:100vh;
}

.right_1{background-image: url(burn-3.svg);	}

.right_2{background-image: url(plastic-3.svg);}

.right_3{background-image: url(hanne-2.svg);}


.nav-container{
	height:100vh;
	width:100vw;
	position: fixed;
	display:flex;
	justify-content: flex-start;
	align-items: center;
}

.nav{
	padding: 0px;
	width:50vw;
	height:100vh;
	background-color: transparent;
}

.title{
	padding-top:10px;	
	font-size:100px;
	width:50%;
	line-height: 70px;
	position: fixed;
	top:0px;
	left:0px;
	padding-bottom: 70px;
}

.no{font-size:70px;}

.footnote{
	font-style: italic;
	font-size:10px;
}

.toggle{
	font-size:20px;
	cursor:help;
}

.t-toggle{
	display:block;
	background-color: white;
	padding: 10px;
}

.pt-20{padding-top: 200px;}

p{
	font-size:20px;
	line-height:21px;
}

.indent{margin-left:2.5vw;}

.content p{margin-bottom: 40px;}
}


















@media (max-width:500px){
.container{
	width:100vw;
	height:100vh;
	display:block;
	flex-wrap:nowrap;
}

.w-20{
	width:0vw;
	height:100vh;
}

.w-40{
	width:100vw;
	height:100vh;
}

.left_1{background-image: url(fireflies-4.jpg);display:none;}
.right_1{background-image: url(burn-3.jpg);	}

.left_2{background-image: url(plastic-3.jpg);display:none;}
.right_2{background-image: url(plastic-3.jpg);}

.left_3{background-image: url(marloes-7.jpg);display:none;}
.right_3{background-image: url(hanne-2.jpg);}

/*Start of Nav*/
.nav-container{
	height:100vh;
	width:100vw;
	position: fixed;
	display:flex;
	justify-content: flex-start;
	align-items: center;
}

.nav{
	padding: 0px;
	width:100vw;
	height:100vh;
	background-color: transparent;
}

.title{
	padding-top:10px;	
	font-size:100px;
	width:100%;
	line-height: 80px;
	position: fixed;
	top:0px;
	left:0px;
	padding-bottom: 80px;
}

.no{font-size:70px;}

.footnote{
	font-style: italic;
	font-size:10px;
}

.toggle{
	font-size:20px;
	cursor:help;
}

.t-toggle{
	display:none;
	background-color: white;
	padding: 10px;
}

.pt-20{padding-top: 200px;}

p{
	font-size:15px;
	line-height:17px;
}

.indent{margin-left:20px;}

.content p{margin-bottom: 40px;}	
}






















